# -*- python -*-
# ex: set filetype=python:

import re
import os

from buildbot.plugins import *
from buildbot.process import factory

c = BuildmasterConfig = {}
c['buildbotNetUsageData'] = None


####### SECRETS

print(os.path.dirname(os.path.realpath(__file__)))
c['secretsProviders'] = [
    secrets.SecretInAFile(dirname=os.path.join(os.path.dirname(os.path.realpath(__file__)), "secrets_files"))
]

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [
    worker.Worker("riscv-openrc-worker",  util.Secret("worker_passwd")),
    worker.Worker("riscv-systemd-worker", util.Secret("worker_passwd")),
]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot version of a python hello-world project.

c['change_source'] = []
c['change_source'] = changes.PBChangeSource(port=9999, user='bgo', passwd=util.Secret("pbchange_passwd"))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

@util.renderer
def _pb_builder_names(props):
    bugid = props.getProperty('bugid')
    package = props.getProperty('package')
    if bugid:
        return ['tatt']
    elif package:
        return ['zbt-tatt']
    else:
        return list()

def tatt_pb_scheduler():
    return schedulers.AnyBranchScheduler(
        name='pb',
        builderNames=_pb_builder_names,
    )

def _force_scheduler(scheduler_name, builder_names, property_name, property_label):
    return schedulers.ForceScheduler(
        name = scheduler_name,
        builderNames = builder_names,
        codebases=[
            util.CodebaseParameter(
                "",
                label='',
                branch=util.FixedParameter(name="branch", default=""),
                revision=util.FixedParameter(name="revision", default=""),
                repository=util.FixedParameter(name="repository", default=""),
                project=util.FixedParameter(name="project", default=""),
            ),
        ],
        reason = util.FixedParameter(name="reason", default=""),
        properties = [
            util.StringParameter(
                name=property_name,
                label=property_label,
                required=True,
            ),
        ],
    )

def zbt_force_scheduler():
    return _force_scheduler(
        scheduler_name='zbt-force',
        builder_names=['zbt-tatt'],
        property_name='package',
        property_label='package name, like "app-editors/vim"'
    )

def tatt_force_scheduler():
    return _force_scheduler(
        scheduler_name='tatt-force',
        builder_names=['tatt'],
        property_name='bugid',
        property_label='bugid in bugs.gentoo.org'
    )

c['schedulers'] = [
    tatt_pb_scheduler(),
    zbt_force_scheduler(),
    tatt_force_scheduler(),
]

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

class TattBaseFactory(factory.BuildFactory):
    def __init__(self, *, extra_tags=[], **kwargs):
        super().__init__()
        self.workdir = util.Interpolate('%(prop:buildnumber)s')

    def tatt_run_useflags_and_clean(self, bugid=None, filename=None):
        tatt_command = ['tatt', '--verbose', '--keywording', '-j', 'buildbot']
        if filename:
            tatt_command += ['-f', filename]
        else:
            tatt_command += ['-b', bugid]
        self.addStep(
            steps.ShellCommand(
                name='run tatt',
                command=tatt_command,
                workdir=self.workdir,
                haltOnFailure=True,
            )
        )

        self.addStep(
            steps.ShellCommand(
                name='show script',
                command=['cat', 'buildbot-useflags.sh'],
                workdir=self.workdir,
            )
        )

        self.addStep(
            steps.ShellCommand(
                name='run useflags test',
                command=['./buildbot-useflags.sh'],
                usePTY=True,
                workdir=self.workdir,
            )
        )

        self.addStep(
            steps.ShellCommand(
                name='show report',
                command=['cat', 'buildbot.report'],
                workdir=self.workdir,
            )
        )

        self.addStep(
            steps.ShellCommand(
                name='run cleanup',
                command=['bash', 'buildbot-cleanup.sh'],
                workdir=self.workdir,
            )
        )

class ZarroBoogsToolsBuildFactory(TattBaseFactory):
    def __init__(self, *, extra_tags=[], **kwargs):
        super().__init__()

        self.addStep(
            steps.ShellCommand(
                name='run zbt',
                #command="zbt ls --tatt $(pwd | rev | cut -d'/' -f1-2 | rev)",
                command=['zbt', 'ls', '--tatt', util.Interpolate('%(prop:package)s')],
                usePTY=True,
                workdir=self.workdir,
            )
        )
        self.addStep(
            steps.ShellCommand(
                name='mv file',
                command="ls | xargs -i mv {} packages.txt",
                usePTY=True,
                workdir=self.workdir,
            )
        )

        self.tatt_run_useflags_and_clean(filename="packages.txt")

class TattBuildFactory(TattBaseFactory):
    def __init__(self, *, extra_tags=[], **kwargs):
        super().__init__()

        self.tatt_run_useflags_and_clean(bugid=util.Interpolate('%(prop:bugid)s'))


c['builders'] = []
c['builders'].extend([
    util.BuilderConfig(
        name="tatt",
        workernames=["riscv-systemd-worker"],
        factory=TattBuildFactory()
    ),
    util.BuilderConfig(
        name="zbt-tatt",
        workernames=["riscv-systemd-worker"],
        factory=ZarroBoogsToolsBuildFactory()
    ),
])

####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Gentoo RISCV Keyword"
c['titleURL'] = "whale.plct.org/buildbot"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = "http://localhost:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}, grid_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.
    # It's easy to start with sqlite, but it's recommended to switch to a dedicated
    # database, such as PostgreSQL or MySQL, for use in production environments.
    # http://docs.buildbot.net/current/manual/configuration/global.html#database-specification
    'db_url' : "sqlite:///state.sqlite",
}
